<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Account Password</title>
</head>
<body>
    <p>We have received request to reset the password for this account.</p>
    <a href="{{link}}" target="_blank" style="display: inline-block; color: #fff; background-color: #2b52f5; padding: 12px 24px; border-radius: 4px; margin: 0.5rem 0;">
        Reset your password
        
    </a>
    <p>If you did not ask to reset your password, you can ignore this email.</p>
    <footer>Copyrigt Inventory Team</footer>
</body>
</html>